container_commands:
  01_collectstatic:
    command: "source /opt/python/run/venv/bin/activate && python manage.py collectstatic --noinput"
  02_migrations:
    command: "python manage.py makemigrations --noinput"
  03_migrate:
    command: "python manage.py migrate --noinput"

option_settings:
  "aws:elasticbeanstalk:application:environment":
    DJANGO_SETTINGS_MODULE: "startup.settings"
    "PYTHONPATH": "/opt/python/current/app/startup:$PYTHONPATH"
    "ALLOWED_HOSTS": ".elasticbeanstalk.com"
  aws:elasticbeanstalk:container:python:
    WSGIPath: startup/wsgi.py
  "aws:elasticbeanstalk:container:python:staticfiles":
    "/www/static/": "www/static/"

files:
    "/etc/httpd/conf.d/ssl_rewrite.conf":
        mode: "000644"
        owner: root
        group: root
        content: |
            RewriteEngine On
            <If "-n '%{HTTP:X-Forwarded-Proto}' && %{HTTP:X-Forwarded-Proto} != 'https'">
            RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI} [R,L]
            </If>
