{% extends "base.html" %}

{% block logout %}
	<h4><a class="btn btn-danger" href="/">Sign out&nbsp<i class="fa fa-sign-out" aria-hidden="true"></i></a></h4>
{% endblock %}


{% block jumbotron %}

	<div class="jumbotron">
		<div class="row">
	        <div class="table-responsive col-md-10 col-md-offset-1">
			    <table class="table">
				    <thead>
					    <tr>
					    	<th></th>
					    	<th><i class="fa fa-sort" aria-hidden="true"></i>&nbsp<a style="color:white" href="/available/name/">Name</a></th>
					    	<th><i class="fa fa-sort" aria-hidden="true"></i>&nbsp<a style="color:white" href="/available/author/">Author</a></th>
					    	<th><i class="fa fa-sort" aria-hidden="true"></i>&nbsp<a style="color:white" href="/available/pages/">Pages</a></th>
					    	<th><i class="fa fa-sort" aria-hidden="true"></i>&nbsp<a style="color:white" href="/available/rating/">Rating</a></th>
					    	<th></th>
					    </tr>
				    </thead>
				    <tbody>
						{% for i in books %}
					    <tr>
					    	<td> <div style="height:148px; width:98px; clear:both;"><img src="{{i.5}}"/></div> </td>
							<td> {{ i.1 }} </td>
							<td> {{ i.2 }} </td>
							<td style="width:10%;"> {{ i.3 }} </td>
							<td style="width:10%;"> {{ i.4 }} </td>
							<form id="ownedbook" method="POST" action="/avail_owners/" >
								{% csrf_token %}
								<input type="hidden" name="own_book" value="{{i.0}}">
								<td><a><input class="btn btn-danger" style="cursor:pointer" type="submit" value="Show owners"/></a></td>
							</form>
						</tr>
						{% endfor %}
					</tbody>
			    </table>
	        </div>
	    </div>
	</div>
	<script type="text/javascript">
		function remove() {
			var bookid = $(this).attr('id');
			console.log("running");
			console.log(bookid);
			$.ajax({
				type: "POST",
	        	url: "/avail_owners/",
	        	data : { bookid: bookid,
	        			 'csrfmiddlewaretoken': '{{ csrf_token }}',
	        			},
	        	})
			setTimeout("location.href = '/avail_owners/';",500);
		}
	</script>

{% endblock %}

{% block needs %}
	
	<div>
		{% if title %}
			<p id="title">{{ title }}</p>
			<button type="button" class="btn btn-lg btn-primary" data-toggle="modal" data-target="#condModal">Add</button>
		{% endif %}
	</div>

	<div id="condModal" class="modal fade" role="dialog">
		<div class="modal-dialog">
			<div class="modal-content">
			    <div class="modal-header">
			    	<button type="button" class="close" data-dismiss="modal">&times;</button>
			        <h4 class="modal-title">Modal Header</h4>
			    </div>
			     <div class="modal-body">
			        <p>How old is your book? (in years)</p>
			        <input id="cond" type="text" name="">
		      	</div>
		      	<div class="modal-footer">
		        	<input type="button" value="Submit" class="btn btn-default" data-dismiss="modal" onclick="formsubmit()">
		      	</div>
			</div>
		</div>
	</div>

	<script type="text/javascript">
		function formsubmit() {
			var cond = document.getElementById('cond').value;
			console.log(cond);
			$.ajax({
				type: "POST",
	        	url: "/login/1/",
	        	data : { condition: cond,
	        			 'csrfmiddlewaretoken': '{{ csrf_token }}',
	        			}
	        		})
			setTimeout("location.href = '/login/';",500);
		}
	</script>

{% endblock %}